mat-toolbar{
    background-color: #004a9f;
    color: white;
}
main-sidenav{
    margin:16px;
    width: 200px;
    border-right: none;
    background-color: #002b5c;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}
mat-sidenav-container{
    height: calc(100vh - 65px);
}
.content{
    height: calc(100vh - 98px);
    margin: 16px;
    margin-left: 32px;
}
.box{
    width: 50%;
    
    border: 1px solid rgb(145,138,138);
    border-radius: 25px;
    padding: 10px 20px 20px 20px;
    margin-left: 200px;
}
.p-inputtext-sm{
    width: 100%;
}

