<style>
 
</style>
<div class="card">
    
<div  >
    <div class="p-text-bold" style="font-size: 20px;margin-left: -200px; margin-bottom: 10px; margin-top: 40px;" align="middle">
        Görev Yönetim Planlama </div>
    <div class="mt-5 box">
        <div class="form-row">
            <div class="col-md-12" style="font-size: 20px;">
               <!-- <p-panel header="Hours By Project(polarArea)" class="ui-g-12 ui-md-6"> -->
               <!-- <p-chart type="polarArea" [data]="data" [options]="chartOptions" [style]="{'width': '40%'}"></p-chart> -->
               <!-- </p-panel> -->
               Görev süreleri günlük, haftalıl ve aylık olarak ayrılmış olan görevler; menüde bulunan görevlerin butonu
               altında sayfalara ayrılmıştır.<br>
               <br>
               Menüde ve Bannerda bulunan her butonda sayfa router linki bulunmamaktadır!
               <br>
               <br>
               Takvim günlerinde alert bulunmaktadır. Tıklayarak açabilirsiniz.
            </div>               
        </div>

    </div>
    
      
    </div></div>







